{% extends 'base.html.twig' %}

{% block main %}

    <div class="col-sm-12">
        <div class="message">
            <h1>WellnessCenter</h1>

            <p>Thanks for your registration an email have been sent to {{ email }} to confirm please go check it out</p>
        </div>
    </div>

{% endblock %}